<ul class="flex-container">
   <li class="flex-item flexLeftClm" >
    <div>
        <div class="playBtn"></div>
        <div class="playListItem">
          <h1>Song Title</h1>
          <p>Artist name</p>
        </div>
    </div>
  
  </li>
  <li class="flex-item flexRightClm"> 
    
  <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-primary playListToggleBtn  ">
      <input type="checkbox" autocomplete="off" checked> Today
    </label>
    <label class="btn btn-primary playListToggleBtn">
      <input type="checkbox" autocomplete="off"> Friday
    </label>
  </div>
  
  
  </li>
  
  
  
  
   <li class="flex-item flexLeftClm" >
    <div>
        <div class="playBtn"></div>
        <div class="playListItem">
          <h1>Song Title</h1>
          <p>Artist name</p>
        </div>
    </div>
  
  </li>
  <li class="flex-item flexRightClm">
    
  <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-primary playListToggleBtn ">
      <input type="checkbox" autocomplete="off" checked> Today
    </label>
    <label class="btn btn-primary playListToggleBtn">
      <input type="checkbox" autocomplete="off"> Friday
    </label>
  </div>
  
  
  </li>
  
  
   <li class="flex-item flexLeftClm" >
    <div>
        <div class="playBtn"></div>
        <div class="playListItem">
          <h1>Song Title</h1>
          <p>Artist name</p>
        </div>
    </div>
  
  </li>
  <li class="flex-item flexRightClm">
    
  <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-primary playListToggleBtn ">
      <input type="checkbox" autocomplete="off" checked> Today
    </label>
    <label class="btn btn-primary playListToggleBtn" >
      <input type="checkbox" autocomplete="off"> Friday
    </label>
  </div>
  
  
  </li>
 
</ul>