



@include breakpoint('phone') {
    //background-color: #635C99;
    //
    .homeThumbnail {
        height: 90px;
    }
    .thumbCopy {
        right: 80px;
    }
    li {
        margin-bottom: 8px;
    }
}

@include breakpoint('tablet') {
    //background-color: #147283;
    .homeThumbnail {
        height: 120px;
    }
    .thumbCopy {
        right: 40px;
    }
}
